<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <!--Online Donation-->
            <h3>Online Donation</h3>
            <div>
              <section>
                  <form>
                      First name:
                      <input type="text" name="firstname" value="Anonymous"><br>
                      Last name:&nbsp;
                      <input type="number" name="lastname" value="0"><br><br>
                      <input type="submit" value="Donate">
                  </form> 
              </section>
            </div>
            
            <!--Direct Payment-->
            <h3>Direct Payment</h3>
            <div>
              <section>
                  UCSC Projects : 086-1001-111-91222<br>
                  Swift Code : PSBKLKLX023<br><br>
              </section>
            </div>

            <!--BitCoin-->
            <!--<h2>BitCoin</h2>
            <div>
              <section>
                  <ul type="circle">
                      <li>
                          <h4><a href="">Link</a></h4><br/>
                      </li>
                  </ul>
              </section>
            </div>-->
        </div>   
        <!--<div class="col-lg-6">
            <h3>Donors</h3>
        </div>-->
    </div>
</div>