<style media="screen">
	.card-view>img{
		border: 1px solid #e3e3e3;
		padding: 10px;
	}
	.card-view{
		padding-bottom: 10px;
		padding-top: 10px;
	}
    /* Style the tab */
    div.tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    div.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    div.tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    div.tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    .active {
        display: block;
    }
</style>
<script>
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
<div class="container mtb">
    <div class="row">
        <div class="tab">
          <button class="tablinks active" onclick="openCity(event, 'Conferences')">Conferences</button>
          <button class="tablinks" onclick="openCity(event, 'ReadingGroup')">Reading Group</button>
        </div>

        <div id="Conferences" class="tabcontent" style="display: block;">
            <div class="row">
                <div class="col-lg-12">
                    <div id="publications">
                        <ol style="padding-left: 25px;" type="circle">
                            {% for publications in site.categories['publications']%}
                            <section>
                                <li>
				    <!-- This line of code will create a URL link (also known as a hyper link) by using the <a></a>. 
					The links URL is defined by {{publications.link}}. The link text will be {{publications.title}}.
                                         The target attribute has been set to "_blank", which means the link will be opened in a new tab-->
                                    <h4><a href="{{publications.link}}" target="_blank">{{publications.title}}</a></h4>
                                    {{publications.authors}}<br/>
                                    <i>{{publications.conference}} - {{publications.year}}</i>
                                </li>
                            </section>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div id="ReadingGroup" class="tabcontent">
            <div class="row">
                <section>
                    <div class="col-lg-4">
                        <img class="img-responsive" src="{{ "/assets/img/Calvin-on-the-Purpose-of-Writing.jpg" | prepend: site.baseurl }}" alt="">
                    </div>
                    <div class="col-lg-8">
                        {% for reading-group in site.categories['reading-group'] limit:include.limit %}
                        {% if reading-group.heading == "SCoRe Reading Group" %}
                        <p>
                            <b>Reading group?</b>
                        </p>
                        <p>
                            {{reading-group.introduction}}
                        </p>
                        <p>
                            <b>How to participate?</b>
                        </p>
                        <p>
                            {{reading-group.participate}}
                        </p>
                        <p>
                            <b>When and where?</b>
                        </p>
                        <ul style="padding-left: 25px;" type="circle"> 
                            <li>Date: Every Friday</li>
                            <li>Time: 11.00am</li>
                            <li>Venue: SCoRe lab / 4th floor conference room</li>
                        </ul>
                        <p>
                            <b>Mailing list:</b> <a href="{{reading-group.mailinglisturl}}" target="_blank">{{reading-group.mailinglist}}</a>
                        </p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </section>
            </div>
            <section>
                <div class="col">
                    <p> We hope to add the details of the papers discussed and the paper presenters in this page in the future. Currently this page is under development. Please await more updates.</p> 
                </div>
            </section>
        </div>
    </div>
</div>
